{{> head}}
{{> navbar}}
<div class="row">

    <div class="col-8">
    <h1>Hanover Displays</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, odit deserunt? Officiis voluptas eveniet nihil qui commodi, modi dignissimos consequuntur nemo obcaecati. Animi molestias amet ullam odio possimus non optio.
    </p>
    </div>

    <div class="col-4">
        <img src="assets/img/0.png" class="img-thumbnail">
    </div>

</div>
{{> footer}}